<!doctype html>
<html ng-app="hitTheDot">
  <head>
    <meta charset="utf-8">
    <title>Hit The Dot Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div id="field" ng-controller="htdController" ng-init="init()">
      <header>
        <h2>Hit the dot!</h2>
        <form ng-submit="start()">
          <input class="btn-primary" type="submit" value="Start">
        </form>
      </header>
      <ul class="unstyled">
        <li ng-repeat="dot in dots">
          <span class="has-dot-{{dot.isRevealed}} hit-{{dot.isHit}}" ng-click="hit()">.</span>
        </li>
      </ul>
    </div>
  </body>
</html>
